<div class="modal-content">
    <div class="modal-header">
        <h4>Вы уверены?</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Название модели:</dt>
            <dd>@ViewBag.Wish.Title</dd>

            <dt>Производитель</dt>
            <dd>@ViewBag.Wish.Description</dd>

            <dt>Год выпуска</dt>
            <dd>@ViewBag.Wish.Date</dd>
        </dl>
        <button class="btn btn-success" data-dismiss="modal" area-hidden="true">Close</button>
    </div>
</div>


