
@{
    ViewBag.Title = "Index";
}
<div class="wish-details-area hm-3-padding ptb-20">
    <div class="container">
        <div class="section-title text-center mb-20">
            <h2>About us</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="team-wrapper text-center mb-30">
                    <div class="team-img">
                        <img src="~/Content/assets/img/team/1.jpg" alt="" width="397" height="397">
                    </div>
                    <div class="team-content">
                        <h4>Danila Kostenko</h4>
                        <span>Backend/DevOps/Systems Architect</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="team-wrapper text-center mb-30">
                    <div class="team-img">
                        <img src="~/Content/assets/img/team/2.jpg" alt="" width="397" height="397">
                    </div>
                    <div class="team-content">
                        <h4>Elena Chernaya</h4>
                        <span>CEO/QA/Frontend </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


