
@{
    ViewBag.Title = "UserIsntFound";
}
<div class="wish-details-area hm-3-padding ptb-20">
    <div class="container">
        <div class="no-user-title text-center mb-10">
            <h2>Oups!</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="no-user-title">You don't have the recipient yet</h4>
                <div class="team-wrapper text-center mb-30">
                    <div class="no-user-img">
                        <img src="~/Content/assets/img/coming-soon/userIsntFound.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>